body {
	display: inline-block;
	align-items: center;
	height: 100%;
	width: 100%;
	
    text-align: center;
}

.template_title {
	background-color: rgba(0, 0, 0, 0.0);
	display: inline-block;
	height: 200px;
	width: calc(100vw - 100px);
	
	text-align: center;
	font-family: Courier, serif;
	font-size: 60px;
	font-weight: 900;
	line-height: 175px;
}

.template_main {
	background-color: whitesmoke;
	display: inline-block;
	align-items: center;
	width: calc(100vw - 400px);
}

.template_content {
	display: inline-block;
	align-items: center;
	text-align: left;
	width: calc(100vw - 500px);
}

.template_doc {
	width: calc(100vw - 450px);
	height: calc((11 / 8.5) * (100vw - 400px));
}

.template_video {
	overflow: hidden;
	padding-top: 56.25%;
	position: relative;
}

.template_video iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

.template_page {
	overflow: hidden;
	padding-top: 56.25%;
	position: relative;
}

.template_page iframe {
	border: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.thumbnail {
	object-fit: cover;
	overflow: hidden;
	width: 200px;
	height: 200px;
}

.thumbnail:hover {
	-webkit-filter: brightness(70%);
	filter: brightness(70%);
}

.header {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 28px;
	font-weight: 800;
	line-height: 30px;
}

.bullet {
	font-family: Calibri, Arial, sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 25px;
}

.body {
	font-family: Calibri, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
}

a.link:link {
	color: #4582AE;
	text-decoration: none;
}

a.link:visited {
	color: #4582AE;
	text-decoration: none;
}

a.link:hover {
	background-color: #4582AE;
	color: #ffffff;
	text-decoration: none;
}

a.link.active {
	background-color: #4582AE;
	color: #ff0000;
	text-decoration: none;
}