body {
	background-color: blue;
	display: inline-block;
    text-align: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.template_main {
	background-color: whitesmoke;
	display: inline-block;
	align-items: center;
	height: calc(100vh - 50px);
	width: calc(100vw - 50px);
}

.template_content {
}

.centerImage {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}

.centerLeftAlign {
	display: inline-block;
	text-align: left;
}

.title {
	font-family: Courier, serif;
	font-size: 60px;
	font-weight: 700;
	line-height: 80px;
}

.header {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 28px;
	font-weight: 800;
	line-height: 30px;
}

.bullet {
	font-family: Calibri, Arial, sans-serif;
	font-size: 24px;
	font-weight: 500;
	line-height: 25px;
}

.body {
	font-family: Calibri, Arial, sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 25px;
}